# Ignore everything
*
# But these files
!.gitignore
!CMakeLists.txt
!package.xml
!README.md
!Chatbot-Eliza-1.08.tar.gz
# And these filetypes
!*.pdf
!*.py
!*.dict
# Even if they are in subdirectories
!*/
